{% extends "cleanbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}	{{ super() }}	{% endblock %}

{% block Nav %}	{{ super() }}	{% endblock %}

{% block content %}
<section class="hero is-link is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
          <center>
              <div class="columns is-mobile is-centered">
                <div class="column is-half">
                      <div class="tile is-7 has-text-centered">
                          <div class="tile is-parent is-vertical has-text-centered">
                            <article class="tile is-child notification">
                              <div class="title">
                                <h1>Reset Password</h1>
                              </div>
                                <form action="" method="post" novalidate>
                                    <div class="field">
                                        <div class="label">
                                            <label class="label" for="username">Password</label>
                                        </div>
                                        <p class="control has-icons-left">
                                            <input class="input is-medium" type="password" id="password" name="password" placeholder="Password">
                                        </p>
                                    </div>
                                    <div class="field">
                                        <div class="label">
                                            <label class="label" for="username">Confirm password</label>
                                        </div>
                                        <p class="control has-icons-left">
                                            <input class="input is-medium" type="password" id="password" name="password" placeholder="Password">
                                        </p>
                                    </div>
                                    <br>
                                    <button type="submit" class="button is-primary is-medium">
                                        Submit
                                    </button>
                                </form>
                            </article>
                        </div>
                      </div>
                </div>
              </div>
          </center>  
      </div>
    </div>
  </section>

<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

{% endblock %}