{% extends "cleanbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}	{{ super() }}	{% endblock %}

{% block Nav %}	{{ super() }}	{% endblock %}

{% block content %}
<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
          <center>
              <div class="columns is-mobile is-centered">
                <div class="column is-half">
                      <div class="tile is-7 has-text-centered">
                          <div class="tile is-parent is-vertical has-text-centered">
                            <article class="tile is-child notification is-link">
                              <div class="title">
                                <h1>Reset Password</h1>
                              </div>
                                <form action="" method="post" novalidate>
                                {{ form.hidden_tag() }}
                              <div class="field">
                                    <div class="label is-normal">
                                        <label class="label has-text-white"  for="email">Email Address</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded has-icons-left">
                                                <input class="input" id="email" name ="email" type="text" placeholder="@southernct.edu">
                                                {% for error in form.email.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                                {% endfor %}
                                                <span style="color: red;"></span>
                                                <span class="icon is-small is-left">
                                                    <ion-icon name="mail"></ion-icon>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div> 
                                <br>
                                <button type="submit" class="button is-primary is-medium">
                                    Submit
                                </button>
                                </form>
                            </article>
                        </div>
                      </div>
                </div>
              </div>
          </center>  
      </div>
    </div>
  </section>

<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

{% endblock %}