{% extends "base.html" %}

{% block head %}	{{ super() }}	{% endblock %}

{% block Nav %}	{{ super() }}	{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Project Edit Form</h1>
        <form action="", method="post" role = "form">
            {{ form.hidden_tag() }}
        <main>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label" for="projectname">Title</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control is-expanded">
                      <input  class="input" type="text" id="projectname" name="projectname" placeholder="Project name" {{form.projectname}}
                        {% for error in form.projectname.errors %}
                       <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                  </div>
                </div>
              </div> 

              <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label" for="body">Description</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <textarea class="textarea" id="body" name="body" placeholder="Project description" {{form.body}}</textarea>
                           {% for error in form.body.errors %}
                           <span style="color: red;">[{{ error }}]</span>
                           {% endfor %} 
                        </div>
                      </div>
                    </div>
              </div>
            
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label" for="projectname" >Department</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control is-expanded">
                      <input  class="input" type="text" id="department" name="department" placeholder="department" {{form.department}}
                        {% for error in form.department.errors %}
                       <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                  </div>
                </div>
              </div> 
              
              <div class="field is-horizontal">
                    <div class="field-label">
                      <label class="label">Goals (check all that apply)</label>
                    </div>
                    <div class="field-body">
                      <div class="field is-narrow">
                        <div class="control">
                            <label class="checkbox">
                                {%if goals.g1==True %}
                                <input type="checkbox" name="g1" checked>
                                {% else %}
                                <input type="checkbox" name="g1">
                                {%endif%}
                                No Poverty
                            </label>
                            <label class="checkbox">
                                {%if goals.g2==True %}
                                <input type="checkbox" name="g2" checked>
                                {% else %}
                                <input type="checkbox" name="g2">
                                {%endif%}
                                Zero Hunger
                            </label>
                            <br>
                            <label class="checkbox">
                                {%if goals.g3 %}
                                <input type="checkbox" name="g3"checked>
                                {% else %}
                                <input type="checkbox" name="g3">
                                {%endif%}
                                Good Health and Well-Being
                            </label>
                            <label class="checkbox">
                                {%if goals.g4%}
                                <input type="checkbox" name="g4" checked>
                                {% else %}
                                <input type="checkbox" name="g4">
                                {%endif%}
                                Quality Education 
                            </label>
                            <br>
                            <label class="checkbox">
                                {%if goals.g5 %}
                                <input type="checkbox" name="g5" checked>
                                {% else %}
                                <input type="checkbox" name="g5">
                                {%endif%}
                                Gender Equality 
                            </label>
                            <label class="checkbox">
                                {%if goals.g6%}
                                <input type="checkbox" name="g6" checked>
                                {% else %}
                                <input type="checkbox" name="g6">
                                {%endif%}
                                Clean Water & Sanitation 
                            </label>
                            <br>
                            <label class="checkbox">
                                {%if goals.g7 %}
                                <input type="checkbox" name="g7" checked>
                                {% else %}
                                <input type="checkbox" name="g7">
                                {%endif%}
                                Affordable & Clean Energy 
                            </label>
                            <label class="checkbox">
                                {%if goals.g8%}
                                <input type="checkbox" name="g8" checked>
                                {% else %}
                                <input type="checkbox" name="g8">
                                {%endif%}
                                Decent Work & Economic Growth 
                            </label>
                            <br>
                            <label class="checkbox">
                                {%if goals.g9%}
                                <input type="checkbox" name="g9" checked>
                                {% else %}
                                <input type="checkbox" name="g9">
                                {%endif%}
                                Industry, Innovation, and Infrastructure
                            </label>
                            <label class="checkbox">
                                {%if goals.g10 %}
                                <input type="checkbox" name="g10" checked>
                                {% else %}
                                <input type="checkbox" name="g10">
                                {%endif%}
                                Reduced Inequalities 
                            </label>
                            <br>
                            <label class="checkbox">
                                {%if goals.g11 %}
                                <input type="checkbox" name="g11" checked>
                                {% else %}
                                <input type="checkbox" name="g11" >
                                {%endif%}
                                Sustainable Cities and Communities
                            </label>
                            <label class="checkbox">
                                {%if goals.g12 %}
                                <input type="checkbox" name="g12" checked>
                                {% else %}
                                <input type="checkbox" name="g12">
                                {%endif%}
                                Responsible Consumption and Production 
                            </label>
                            <br>
                            <label class="checkbox">
                                {%if goals.g13 %}
                                <input type="checkbox" name="g13" checked>
                                {% else %}
                                <input type="checkbox" name="g13">
                                {%endif%}
                                Climate Action 
                            </label>
                            <label class="checkbox">
                                {%if goals.g14 %}
                                <input type="checkbox" name="g14" checked>
                                {% else %}
                                <input type="checkbox" name="g14" >
                                {%endif%}
                                Life Below Water 
                            </label>
                            <label class="checkbox">
                                {%if goals.g15 %}
                                <input type="checkbox" name="g15" checked>
                                {% else %}
                                <input type="checkbox" name="g15" >
                                {%endif%}
                                Life on Land 
                            </label>
                            <br>
                            <label class="checkbox">
                                {%if goals.g16 %}
                                <input type="checkbox" name="g15" checked>
                                {% else %}
                                <input type="checkbox" name="goals" >
                                {%endif%}
                                Peace & Justice Strong Institutions 
                            </label>
                            <label class="checkbox">
                                {%if goals.g17 %}
                                <input type="checkbox" name="goals" checked>
                                {% else %}
                                <input type="checkbox" name="goals" >
                                {%endif%}
                                Partnerships for the Goals 
                            </label>
                        </div>
                      </div>
                    </div>
                  </div>
                    
                
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="member">Add Project Member</label>
                </div>
                <div class="field-body">
                      <div class="field">
                        <div class="control">
                            {% if form.member==None %}
                            <input class="input" id="member" name="member" placeholder="Enter a Username">
                            {% else %}
                            <input class="input" id="member" name="member" placeholder="Enter a Username" {{form.member}}
                            {% endif %}
                            {% for error in form.member.errors %}
                           <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                      </div>
                    </div>
              </div>
            
              <div class="container">
                <div class="field">
                    <div class="label">
                        <label class="label" for="user_role">Project Status</label>
                    </div>
                    <div class="field-body is-horizontal">
                        <div class="field is-wide">
                        <div class="control">
                            <label class="checkbox">
                                {%if project.progress %}
                                <input type="checkbox" name="status" checked>
                                {% else %}
                                <input type="checkbox" name="status" >
                                {%endif%}
                                Complete
                            </label>
                        </div> 
                        </div>
                    </div>
                </div>
               </div>
            
                  <br>
                  <div class="field is-horizontal">
                      <div class="field-label">
                        <!-- Left empty for spacing -->
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                            <button type="submit" class="button is-primary">
                              Submit
                            </button>
                          </div>
                        </div>
                      </div>
                  </div>         
        </main>
        </form>
    </div>
</section>
{% endblock %}
