{% extends "base.html" %}

{% block head %}	{{ super() }}	{% endblock %}

{% block Nav %}	{{ super() }}	{% endblock %}

{% block content %}

<style>
    .tabnav {
      display: table;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .tabnav li {
      display: table-cell;
      border: 2px solid #fff;
      border-bottom-width: 0;
    }
    .tabnav a {
      display: block;
      background-color: #aaa;
      color: #fff;
      padding: .4em 1em;
      text-decoration: none;
    }
    .tabnav .tab-active {
      border: 1px solid #aaa;
      border-bottom-width: 0;
      background-color: #fff;
      color: #222;
    }
    </style>

<body>
<br>
<section>
    <div class="columns">
        <div class="column is-full"></div>
      </div>
      <div class="columns">
        <div class="column is-full"></div>
      </div>
    <div class = "columns">
      <div class="column is-full">
    <div class="tile is-ancestor">
            <div class="tile is-parent">
              <article class="tile is-child notification is-primary">
                <p class="title">
                    <span class="icon">
                      <ion-icon name="calendar"></ion-icon>
                    </span>
                    Events
                </p>
                <p class="subtitle">What is up?</p>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                  </div>
              </article>
            </div>

            <div class="tile is-parent">
              <article class="tile is-child notification is-warning">
                <p class="title">
                  <span class="icon">
                    <ion-icon name="contacts"></ion-icon>
                  </span>
                  Clubs
                </p>
                <p class="subtitle">oh</p>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                  </div>
              </article>
            </div>

            <div class="tile is-parent">
              <article class="tile is-child notification is-success">
                <p class="title">
                  <span class="icon">
                    <ion-icon name="paper-plane"></ion-icon>
                  </span>
                  Internships</p>
                <p class="subtitle">With some content</p>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>  

      <!--
      <div class="tabs">
          <div class="collapsible collapsible-collapsed" data-collapsible-set="tabs-example">
            <h4>Tab A</h4>
            <p>And this is the content for tab A. <a href="#">Sample link to test tab order.</a></p>
          </div>
          <div class="collapsible" data-collapsible-set="tabs-example">
            <h4>Tab B</h4>
            <p>And this is the content for tab B. <a href="#">Sample link to test tab order.</a></p>
          </div>
          <div class="collapsible collapsible-collapsed" data-collapsible-set="tabs-example">
            <h4>Tab C</h4>
            <p>And this is the content for tab C. <a href="#">Sample link to test tab order.</a></p>
          </div>
          <div class="collapsible collapsible-collapsed" data-collapsible-set="tabs-example">
            <h4>Tab D</h4>
            <p>And this is the content for tab D. <a href="#">Sample link to test tab order.</a></p>
          </div>
        </div>
      <br>
      -->


      <!--
      <div class="columns is-multiline">
          <div class="column is-one-third">
            <p>is-one-third</p>
          </div>
          <div class="column is-one-third">
            <code>is-one-quarter</code>
          </div>
          <div class="column is-one-third">
            <code>is-one-quarter</code>
          </div>
      </div>
    -->

      
</section>

<link rel="stylesheet" href="collapsible.css">
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="collapsible.js"></script>
<!-- For the icons:-->
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>

{% endblock %}