{% extends "base.html" %}

{% block head %}	{{ super() }}	{% endblock %}

{% block Nav %}	{{ super() }}	{% endblock %}

{% block content %}

<link rel="stylesheet" href="../css/kanban.css">

<style>
  .collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-style: outset;
    border-radius: 5px;
    border-color:hsl(171, 100%, 41%);
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  .collapsible2 {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-style: outset;
    border-radius: 5px;
    border-color:hsl(229, 61%, 44%);
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  #blueBorder {
    border-color:hsl(229, 61%, 44%);
  }

  #blackBorder{
    border-color:hsl(228, 2%, 45%);
  }
  .collapsible3 {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-style: outset;
    border-radius: 5px;
    border-color:hsl(228, 2%, 45%);
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    font-weight: bold;

  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
  }
</style>



<body>
<br>
  <section>
    <div class="columns">
      <div class="column is-full"></div>
    </div>
    <div class="columns">
      <div class="column is-full"></div>
    </div>

    <div class = "columns is-multiline is-centered">
      <div class="column is-full">
        <div class="tile is-ancestor">

          <div class="tile is-parent">
            <article class="tile is-child notification is-primary">
              <p class="title has-text-centered">
                <span class="icon"><ion-icon name="calendar"></ion-icon></span>
                <span>Events</span>
              </p>
              <div class="content">
              </div>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child notification is-link">
              <p class="title has-text-centered">
                <span class="icon"><ion-icon name="contacts"></ion-icon></span>
                Clubs
              </p>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child notification is-black">
              <p class="title has-text-centered">
                <span class="icon"><ion-icon name="paper-plane"></ion-icon></span>
                Internships
              </p>
              <div class="content">
              </div>
            </article>
          </div>
            
          </div>
        </div>
      </div>  

      
      <div class = "columns is-multiline is-centered">
        <div class="column is-one-third">
          <article class="message is-primary">
              <div class="message-body">
                  <button class="collapsible">Earth Day || Apr. 22</button>
                  <div class="content">
                    <p>Where: ASC 212<br>
                    Join us for activities, food, and more!
                    </p>
                  </div>
                  <button class="collapsible">Open Section 2</button>
                  <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
                  <button class="collapsible">Open Section 3</button>
                  <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
              </div>
            </article>
          </div>
        <div class="column is-one-third">
              <article class="message is-link">
                  <div class="message-body">
                    <button class="collapsible" id="blueBorder">Habitat For Humanity</button>
                    <div class="content">
                      <p>ASC 212<br>
                        Mondays 1-2pm<br>
                      Join us at our weekly meetings for... 
                      </p>
                    </div>
                    <button class="collapsible" id="blueBorder">Open Section 2</button>
                    <div class="content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <button class="collapsible" id="blueBorder">Open Section 3</button>
                    <div class="content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                  </div>
              </article>
            </div>
        <div class="column is-one-third">
              <article class="message is-black">
                  <div class="message-body">
                    <button class="collapsible" id="blackBorder">Open Section 2</button>
                    <div class="content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <button class="collapsible" id="blackBorder">Open Section 3</button>
                    <div class="content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                  </div>
            </article>
        </div>
      </div>


  </section>
</body>

  <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;
      
      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight){
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          } 
        });
      }
  </script>

<script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>

<!-- For the icons:-->
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>


{% endblock %}