{% extends "base.html" %}

{% block head %}	{{ super() }}	{% endblock %}

{% block Nav %}	{{ super() }}	{% endblock %}

{% block content %}
<body>
<div class="container">
	<section class="hero is-small is-info is-bold">
		<div class="hero-body">
		  <div class="container has-text-centered">
			<h1 class="title">Sustainability Goals</h1>
			<p class="subtitle has-text-centered">
				"The Sustainable Development Goals are a call for action by all countries – poor, rich and middle-income – to promote prosperity while protecting the planet. They recognize that ending poverty must go hand-in-hand with strategies that build economic growth and address a range of social needs including education, health, social protection, and job opportunities, while tackling climate change and environmental protection."
				-United Nations SDG 
			  </p>
		  </div>
		</div>
	  </section>
	  <br>
	<center>
	<section class="container">
		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<article class="tile is-child box">
					<figure>
						<img src="https://sustainabledevelopment.un.org/content/images/E_SDG_Icons-01.jpg" alt="Placeholder image">
				  	</figure>
					<p class="subtitle"></p>
					<a class="has-text-white is-size-4" href="{{ url_for('main.goal', goal='No Poverty') }}">
						<span class="button is-link modal-button" data-target="modal-image">Goal 1</span>
					</a>
			  	</article>
			</div>
			<div class="tile is-parent">
			  	<article class="tile is-child box">
					<figure>
						<img src="/static/E-WEB-Goal-02.png" alt="Placeholder image">
					</figure>
					<p class="subtitle"></p>
					<a class="has-text-white is-size-4" href="{{ url_for('main.goal', goal='Zero Hunger') }}">
						<span class="button is-link modal-button" data-target="modal-image">Goal 2</span>
					</a>
			  	</article>
			</div>
			<div class="tile is-parent">
			  	<article class="tile is-child box">
				  <figure>
						<img src="{{url_for('static', filename='E-WEB-Goal-03.png')}}" alt="Placeholder image">
					</figure>
					<p class="subtitle"></p>
					<a class="has-text-white is-size-4" href="{{ url_for('main.goal', goal='Good Health and Well-Being') }}">
						<span class="button is-link modal-button" data-target="modal-image">Goal 3</span>
					</a>
			  	</article>
			</div>
			<div class="tile is-parent">
			  	<article class="tile is-child box">
					<figure>
						<img src="{{url_for('static', filename='E-WEB-Goal-04.png')}}" alt="Placeholder image">
					</figure>
					<p class="subtitle"></p>
					<a class="has-text-white is-size-4" href="{{ url_for('main.goal', goal='Quality Education') }}">
						<span class="button is-link modal-button" data-target="modal-image">Goal 4</span>
					</a>
			  	</article>
			</div>
			<div class="tile is-parent">
					<article class="tile is-child box">
					  <figure>
						  <img src="{{url_for('static', filename='E-WEB-Goal-05.png')}}" alt="Placeholder image">
					  </figure>
					  <p class="subtitle"></p>
					  <a class="has-text-white is-size-4" href="{{ url_for('main.goal', goal='Gender Equality') }}">
						  <span class="button is-link modal-button" data-target="modal-image">Goal 5</span>
					  </a>
					</article>
			  </div>

			<div class="tile is-parent">
				<article class="tile is-child box">
					<figure>
						<img src="{{url_for('static', filename='E-WEB-Goal-06.png')}}" alt="Placeholder image">
						</figure>
					<p class="subtitle"></p>
					<a class="has-text-white is-size-4" href="{{ url_for('main.goal', goal='Clean Water & Sanitation') }}">
						<span class="button is-link modal-button" data-target="modal-image">Goal 6</span>
					</a>
					</article>
			</div>

		</div>
	</section>

	<section class="container">
			<div class="tile is-ancestor">
				<div class="tile is-parent">
					  <article class="tile is-child box">
						<figure>
							<img src="{{url_for('static', filename='E-WEB-Goal-07.png')}}" alt="Placeholder image">
						</figure>
						<p class="subtitle"></p>
						<a class="has-text-white is-size-4" href="{{ url_for('main.goal', goal='Affordable & Clean Energy') }}">
							<span class="button is-link modal-button" data-target="modal-image">Goal 7</span>
						</a>
					  </article>
				</div>
				<div class="tile is-parent">
					  <article class="tile is-child box">
					  <figure>
							<img src="{{url_for('static', filename='E-WEB-Goal-08.png')}}" alt="Placeholder image">
						</figure>
						<p class="subtitle"></p>
						<a class="has-text-white is-size-4" href="{{ url_for('main.goal', goal='Decent Work & Economic Growth') }}">
							<span class="button is-link modal-button" data-target="modal-image">Goal 8</span>
						</a>
					  </article>
				</div>
				<div class="tile is-parent">
					  <article class="tile is-child box">
						<figure>
							<img src="{{url_for('static', filename='E-WEB-Goal-09.png')}}" alt="Placeholder image">
						</figure>
						<p class="subtitle"></p>
						<a class="has-text-white is-size-4" href="{{ url_for('main.goal', goal='Industry, Innovation, and Infrastructure') }}">
							<span class="button is-link modal-button" data-target="modal-image">Goal 9</span>
						</a>
					  </article>
				</div>
				<div class="tile is-parent">
						<article class="tile is-child box">
						  <figure>
							  <img src="{{url_for('static', filename='E-WEB-Goal-10.png')}}" alt="Placeholder image">
						  </figure>
						  <p class="subtitle"></p>
						  <a class="has-text-white is-size-4" href="{{ url_for('main.goal', goal='Reduced Inequalities') }}">
							  <span class="button is-link modal-button" data-target="modal-image">Goal 10</span>
						  </a>
						</article>
				  </div>
				
				  <div class="tile is-parent">
						<article class="tile is-child box">
							<figure>
								<img src="{{url_for('static', filename='E-WEB-Goal-11.png')}}" alt="Placeholder image">
								</figure>
							<p class="subtitle"></p>
							<a class="has-text-white is-size-4" href="{{ url_for('main.goal', goal='Sustainable Cities and Communities') }}">
								<span class="button is-link modal-button" data-target="modal-image">Goal 11</span>
							</a>
							</article>
					</div>

					<div class="tile is-parent">
							<article class="tile is-child box">
							<figure>
								<img src="{{url_for('static', filename='E-WEB-Goal-12.png')}}" alt="Placeholder image">
							</figure>
							<p class="subtitle"></p>
							<a class="has-text-white is-size-4" href="{{ url_for('main.goal', goal='Responsible Consumption and Production') }}">
								<span class="button is-link modal-button" data-target="modal-image">Goal 12</span>
							</a>
							</article>
					</div>
			</div>
		</section>

		<section class="container">
			<div class="tile is-ancestor">
				<div class="tile is-parent">
					<article class="tile is-child box">
						<figure>
							<img src="{{url_for('static', filename='E-WEB-Goal-13.png')}}" alt="Placeholder image">
						</figure>
						<p class="subtitle"></p>
						<a class="has-text-white is-size-4" href="{{ url_for('main.goal', goal='Climate Action') }}">
							<span class="button is-link modal-button" data-target="modal-image">Goal 13</span>
						</a>
					</article>
				</div>
				<div class="tile is-parent">
					<article class="tile is-child box">
						<figure>
							<img src="{{url_for('static', filename='E-WEB-Goal-14.png')}}" alt="Placeholder image">
						</figure>
						<p class="subtitle"></p>
						<a class="has-text-white is-size-4" href="{{ url_for('main.goal', goal='Life Below Water') }}">
							<span class="button is-link modal-button" data-target="modal-image">Goal 14</span>
						</a>
					</article>
				</div>
				<div class="tile is-parent">
						<article class="tile is-child box">
						  <figure>
							  <img src="{{url_for('static', filename='E-WEB-Goal-15.png')}}" alt="Placeholder image">
						  </figure>
						  <p class="subtitle"></p>
						  <a class="has-text-white is-size-4" href="{{ url_for('main.goal', goal='Life on Land') }}">
							  <span class="button is-link modal-button" data-target="modal-image">Goal 15</span>
						  </a>
					</article>
				  </div>

				<div class="tile is-parent">
					<article class="tile is-child box">
						<figure>
							<img src="{{url_for('static', filename='E-WEB-Goal-16.png')}}" alt="Placeholder image">
						</figure>
						<p class="subtitle"></p>
						<a class="has-text-white is-size-4" href="{{ url_for('main.goal', goal='Peace & Justice Strong Institutions') }}">
							<span class="button is-link modal-button" data-target="modal-image">Goal 16</span>
						</a>
					</article>
				</div>
				<div class="tile is-parent">
					<article class="tile is-child box">
						<figure>
							<img src="{{url_for('static', filename='E-WEB-Goal-17.png')}}" alt="Placeholder image">
						</figure>
						<p class="subtitle"></p>
						<a class="has-text-white is-size-4" href="{{ url_for('main.goal', goal='Partnerships for the Goals') }}"c>
							<span class="button is-link modal-button" data-target="modal-image">Goal 17</span>
						</a>
					</article>
				</div>
				<div class="tile is-parent">
					<article class="tile is-child box">
						<br>
						<br>
						<figure>
							<img src="http://more.southernct.edu/wp-content/uploads/2018/02/SCSU-justified-003399-1000px.png" alt="Placeholder image">
						</figure>
					</article>
				</div>
			</div>
		</section>

	</center>
	</div>
</body>

{% endblock %}