{% extends "base.html" %}

{% block head %}	{{ super() }}	{% endblock %}

{% block body %}	{{ super() }}	{% endblock %}

{% block content %}
<style>

.slideshow-container {
  max-width: 500px;
  max-height: 400px;
  position: relative;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #222428;
  font-weight: bold;
  font-size: 30px;
  transition: .6s ease;
  border-radius: 0 1px 1px 0
}

.next {
  right: -50px;
  border-radius: 1px 1px 1px 1px
}

.prev {
  left: -50px;
  border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
  color: #f2f2f2;
  background-color: rgba(90, 90, 95, 0.432)
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease
}

.active,
.dot:hover {
  background-color: #717171
}

</style>




<section>
    <div class="columns is-multiline is-centered">
        <div class="column is-one-third">
            <div class="column">
                <br>
                <h1 class="title">Welome to the Southern Sustainability App!</h1>
                <p>Our goal is to develop a web application that serves as a tool for promoting the sustainability community within SCSU. We want to give students the ability to learn about sustainability projects and opportunities on campus while incentivizing involvement. To do this, we are creating a badging system utilizing the 17 Sustainability Goals proposed by the United Nations within the application.  Each user will have their own profile page showcasing projects they’re involved in and badges earned. They will be able to submit and edit their projects, as well as intuitively search site information by filtering the Sustainable Goals to their needs or interests.</p>
            </div>
        </div>
        <div class="column is-two-third">
            <div class="column">
                <figure class="image is-4by4">
                        <img src="static/17_Sustainable_Goals_Poster.jpg">
                </figure>
                <p>
                <strong class="subtitle has-text-weight-semibold">What are the Sustainable Development Goals?</strong>
                <br>
                  "The Sustainable Development Goals are a call for action by all countries – poor, rich and middle-income – to promote prosperity while protecting the planet. They recognize that ending poverty must go hand-in-hand with strategies that build economic growth and address a range of social needs including education, health, social protection, and job opportunities, while tackling climate change and environmental protection." -United Nations SDG
                <br>
                </p>
            </div>
        </div>
    </div>
    <div class="columns is-multiline is-centered">
      <div class="column is-half">
          <div class="column">
              <p>
                <p class="subtitle has-text-weight-semibold">Here's how to get involved:</p>
                <ol>
                  <li>Feature your own work by creating an account</li>
                  <li>Click on a Goal in the <strong>Goals</strong> page to find <i>Projects, Research, Clubs, Southern Involvement, Operations, & Courses/Ciriculum</i></li>
                  <li>Go to <strong>Opportunies</strong> to find <i>Events, Internships, & Positions</i></li>
                </ol>
              </p>
          </div>
      </div>

      <div class="column is-half">
          <div class="column">
            <div class = "slideshow-container">
              <div class="mySlides fade">
                <img src="http://news.southernct.edu/wp-content/uploads/2018/09/SCSU_2018_solar_panels-6092.jpg" style="width:500px;height:300px;"/>
              </div>
              <div class="mySlides fade">
                <img src="{{url_for('static', filename='E-WEB-Goal-10.png')}}" style="width:500px;height:300px;"/>
              </div>
              <div class="mySlides fade">
                <img src="{{url_for('static', filename='E-WEB-Goal-11.png')}}" style="width:500px;height:300px;"/>
              </div>
              <a class="prev" onclick='plusSlides(-1)'>&#10094;</a>
              <a class="next" onclick='plusSlides(1)'>&#10095;</a>

              <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
              </div>
            </div>
          </div>
      </div>
  </div>

</section>

<script>
  var slideIndex = 1;

  var myTimer;

  var slideshowContainer;

  window.addEventListener("load",function() {
      showSlides(slideIndex);
      myTimer = setInterval(function(){plusSlides(1)}, 4000);
    
      //COMMENT OUT THE LINE BELOW TO KEEP ARROWS PART OF MOUSEENTER PAUSE/RESUME
      slideshowContainer = document.getElementsByClassName('slideshow-inner')[0];
    
      //UNCOMMENT OUT THE LINE BELOW TO KEEP ARROWS PART OF MOUSEENTER PAUSE/RESUME
      // slideshowContainer = document.getElementsByClassName('slideshow-container')[0];
    
      slideshowContainer.addEventListener('mouseenter', pause)
      slideshowContainer.addEventListener('mouseleave', resume)
  })

  // NEXT AND PREVIOUS CONTROL
  function plusSlides(n){
    clearInterval(myTimer);
    if (n < 0){
      showSlides(slideIndex -= 1);
    } else {
    showSlides(slideIndex += 1); 
    }
    
    //COMMENT OUT THE LINES BELOW TO KEEP ARROWS PART OF MOUSEENTER PAUSE/RESUME
    
    if (n === -1){
      myTimer = setInterval(function(){plusSlides(n + 2)}, 4000);
    } else {
      myTimer = setInterval(function(){plusSlides(n + 1)}, 4000);
    }
  }

  //Controls the current slide and resets interval if needed
  function currentSlide(n){
    clearInterval(myTimer);
    myTimer = setInterval(function(){plusSlides(n + 1)}, 4000);
    showSlides(slideIndex = n);
  }

  function showSlides(n){
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }

  pause = () => {
    clearInterval(myTimer);
  }

  resume = () =>{
    clearInterval(myTimer);
    myTimer = setInterval(function(){plusSlides(slideIndex)}, 4000);
  }
</script>

{% endblock %}