{% extends "base.html" %}

{% block head %}	{{ super() }}	{% endblock %}

{% block Nav %}	{{ super() }}	{% endblock %}
{% block content %}
<section>
    <br></br>
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-5">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-white">
                            <figure class="image is-4">
                                <img src="https://inside.southernct.edu/sites/default/files/sustainablesouthernlogo.jpg">
                            </figure>
                            <br></br>
                            <P> John Doe</P>
                            <p> does1@southernct.edu </p>
                            <p> Student</p>
                            <p> MAT major</p>
                        </article> 
                        <article class="tile is-child notification is-warning">
                        <p class="title is-size-4">forms:</p>
                        <a href="../submission_form">-Project Submission Form</a>
                        </article>
                    </div>
                    <div class="tile is-parent is-10">
                        <article class="tile is-child notification is-info">
                            <p class="title">Projects</p>
                            <p>- Saving the Bees</p>
                            <p>- Research Paper A</p>
                            <p>- Research Paper B</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!--


        <div class="tile is-ancestor">
            <div class="tile is-primary">
                <article class="tile is-child notification">
                    <figure class="image">
                        <img src="https://inside.southernct.edu/sites/default/files/sustainablesouthernlogo.jpg">
                    </figure>
                    <br></br>
                    <P> John Doe</P>
                    <p> does1@southernct.edu </p>
                    <p> Student</p>
                    <p> MAT major</p>
                </article>
                <article class="tile is-child notification is-info">
                </article>
            </div>
        </div>
    </div>
</section>
-->


{% endblock %}