{% extends "base.html" %}

{% block head %}	{{ super() }}	{% endblock %}

{% block Nav %}	{{ super() }}	{% endblock %}
{% block content %}

<!--
<div class="tile is-parent is-12">
    <article class="tile is-child notification is-info">
        <p class="title">Projects</p>
        <div class="columns">
            <div class="column is-narrow">
                <div class="box" style="width: 200px;">
                <p class="title is-5">Narrow column</p>
                <p class="subtitle">This column is only 200px wide.</p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                <p class="title is-5">Flexible column</p>
                <p class="subtitle">This column will take up the remaining space available.</p>
                </div>
            </div>
            </div>
    </article>
</div>-->
          
<!--
        <div class="tile is-ancestor">
            <div class="tile is-primary">
                <article class="tile is-child notification">
                    <figure class="image">
                        <img src="https://inside.southernct.edu/sites/default/files/sustainablesouthernlogo.jpg">
                    </figure>
                    <br></br>
                    <P> John Doe</P>
                    <p> does1@southernct.edu </p>
                    <p> Student</p>
                    <p> MAT major</p>
                    <p><a class="has-text" href="../submission_form">submission form</a>
                    </p>
                </article>
                <article class="tile is-child notification is-info">
                </article>
            </div>
        </div>
    </div>
-->
<section>
<br>
<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child box">
            <p class="title is-size-3">John Doe</p>
        <article class="tile is-child notification">
            <figure class="image">
                <img src="https://inside.southernct.edu/sites/default/files/sustainablesouthernlogo.jpg">
            </figure>
            <br></br>
            <p> does1@southernct.edu </p>
            <p> Student</p>
            <p> MAT major</p>
            <br>
        </article>
        <article class="tile is-child notification">
          <br>
          <p> Hi! This box contains info about me. No more than 240 characters.</p>
        </article>
      </div>
      <div class="tile is-child box">
        <p class="subtitle">forms</p>
        <p><a class="has-text" href="../submission_form">submission form</a>
        </p>
      </div>
    </div>
    
    <div class="tile is-parent">
      <div class="tile is-child box">
          <p class="title is-size-3">Badges</p>
          <figure class="image is-96x96">
              <img src="../static/E_GIF_02.gif" alt="Badge - Zero Hunger">
            </figure>
      </div>
      <div class="tile is-child is-narrow box">
        <p class="title is-size-3">Projects</p>
        <!--
        <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-96x96">
                      <img src="../static/E_GIF_02.gif" alt="Badge - Zero Hunger">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Badge Name</strong> <small> | June 2018</small>
                        <br>
                        Link to project or description of action
                      </p>
                    </div>
                  </div>
                </article>
          </div>
        -->
        <p><strong>Project Title</strong></p>
        <P>Professor Who/Sponsor</P>
        <P>Since: Oct. 2019</P>
        <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit.</p>
        <progress class="progress is-small is-primary" value="15" max="100">15%</progress>
        <p><strong>Project Title 2</strong></p>
        <P>Professor Who/Sponsor</P>
        <P>Since: Feb. 2019</P>
        <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit.</p>
        <progress class="progress is-small is-primary" value="30" max="100">15%</progress>
      </div>

    </div>
  </div>
</section>


{% endblock %}