{% extends "base.html" %}

{% block head %}	{{ super() }}	{% endblock %}

{% block Nav %}	{{ super() }}	{% endblock %}
{% block content %}
<section class="section">
            <h1 class="title">Sign-Up</h1>
            <main>
                <div class="container">
                <div class="field">
                    <div class="label">
                        <label class="label">I'm a...</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                        <div class="control">
                            <button class="button is-primary is-outlined">student</button>
                            <button class="button is-link is-outlined">faculty</button>
                            <button class="button is-danger is-outlined">staff</button>
                        </div>
                        </div>
                    </div>
                </div>
                
                <div class="field">
                        <div class="label">
                            <label class="label">Username</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                            <p class="control">
                                <input class="input" type="text" placeholder="">
                            </p>
                            </div>
                        </div>
                    </div> 

                <div class="field">
                        <div class="label is-normal">
                            <label class="label">Email</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    <input class="input" type="text" placeholder="@southernct.edu">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                </div> 

                <div class="field">
                        <div class="label is-normal">
                            <label class="label">Password</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input class="input" type="text" placeholder="">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                            </div>
                        </div>
                    </div> 

                <div class="field">
                        <div class="label is-normal">
                            <label class="label">Password Verification</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                            <p class="control">
                                <input class="input" type="text" placeholder="">
                            </p>
                            </div>
                        </div>
                    </div> 

                <div class="field">
                    <div class="label is-normal">
                        <label class="label">Department</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                        <div class="field">
                            <div class="control">
                                <div class="select">
                                    <select>
                                    <option>CSC</option>
                                    <option>PSY</option>
                                    <option>LIB</option>
                                    <option>ENG</option>
                                    </select>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="field">
                    <div class="field-body">
                    <div class="field">
                        <div class="control">
                        <button class="button is-primary">
                            Submit
                        </button>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </main>      
    </section>

{% endblock %}