{% extends "base.html" %}

{% block head %}	{{ super() }}	{% endblock %}

{% block Nav %}	{{ super() }}	{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Project Form Submission</h1>
        <main>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Title</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control is-expanded">
                      <input class="input" type="text" placeholder="Project name">
                    </p>
                  </div>
                </div>
              </div> 
              
              <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label">Description</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <textarea class="textarea" placeholder="Project description"></textarea>
                        </div>
                      </div>
                    </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Department</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control is-expanded">
                      <input class="input" type="text" placeholder="">
                    </p>
                  </div>
                </div>
              </div> 
              
              
              <div class="field is-horizontal">
                    <div class="field-label">
                      <label class="label">Goals (check all that apply)</label>
                    </div>
                    <div class="field-body">
                      <div class="field is-narrow">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox">
                                No Poverty
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                Zero Hunger
                            </label>
                            <br></br>
                            <label class="checkbox">
                                <input type="checkbox">
                                Good Health and Well-Being
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                Quality Education 
                            </label>
                            <br></br>
                            <label class="checkbox">
                                <input type="checkbox">
                                Gender Equality 
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                Clean Water & Sanitation 
                            </label>
                            <br></br>
                            <label class="checkbox">
                                <input type="checkbox">
                                Affordable & Clean Energy 
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                Decent Work & Economic Growth 
                            </label>
                            <br></br>
                            <label class="checkbox">
                                <input type="checkbox">
                                Industry, Innovation, and Infrastructure
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                Reduced Inequalities 
                            </label>
                            <br></br>
                            <label class="checkbox">
                                <input type="checkbox">
                                Sustainable Cities and Communities
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                Responsible Consumption and Production 
                            </label>
                            <br></br>
                            <label class="checkbox">
                                <input type="checkbox">
                                Climate Action 
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                Life Below Water 
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                Life on Land 
                            </label>
                            <br></br>
                            <label class="checkbox">
                                <input type="checkbox">
                                Peace & Justice Strong Institutions 
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                Partnerships for the Goals 
                            </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!---
                  <div class="field is-horizontal has-addons">
                      <div class="field-label is-normal">
                          <label class="label">Attachments</label>
                      </div>
                      <div class="field-body">
                          <div class="control">
                              <input type="text" class="input" placeholder="texts">
                          </div>
                          <div class="control is-expanded">
                              <button class="button is-warning">browse</button>
                          </div>
                      </div>
                  </div>

                  <div class="field is-horizontal">
                      <div class="field-label is-normal">
                          <label class="label">Acknowledging Helpers?</label>
                      </div>
                      <div class="field-body">
                          <div class="field">
                              <div class="control">
                                  <input type="textarea" class="input" placeHolder="Other people involved">
                              </div>
                          </div>
                      </div>
                  </div> -->  
                  </main>
                  <br></br>
                  <div class="field is-horizontal">
                      <div class="field-label">
                        <!-- Left empty for spacing -->
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                            <button class="button is-primary">
                              Submit
                            </button>
                          </div>
                        </div>
                      </div>
                  </div>
                    
        </main>
    </div>
</section>
{% endblock %}
