{% extends "base.html" %}

{% block head %}	{{ super() }}	{% endblock %}

{% block Nav %}	{{ super() }}	{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Project Form Submission</h1>
            
        <form action="", method="post" role = "form">
            {{ form.hidden_tag() }}
        <main>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label" for="projectname">Title</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control is-expanded">
                      <input  class="input" type="text" id="projectname" name="projectname" placeholder="Project name">
                        {% for error in form.projectname.errors %}
            `           <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                  </div>
                </div>
              </div> 

              <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label" for="body">Description</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <textarea class="textarea" id="body" name="body" placeholder="Project description"></textarea>
                           {% for error in form.body.errors %}
            `               <span style="color: red;">[{{ error }}]</span>
                           {% endfor %} 
                        </div>
                      </div>
                    </div>
              </div>
            
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label" for="projectname">Department</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control is-expanded">
                      <input  class="input" type="text" id="department" name="department" placeholder="department">
                        {% for error in form.department.errors %}
            `           <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                  </div>
                </div>
              </div> 
              
              <div class="field is-horizontal">
                    <div class="field-label">
                      <label class="label">Goals (check all that apply)</label>
                    </div>
                    <div class="field-body">
                      <div class="field is-narrow">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" name="g1">
                                No Poverty
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="g2">
                                Zero Hunger
                            </label>
                            <br>
                            <label class="checkbox">
                                <input type="checkbox" name="g3">
                                Good Health & Well-Being
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="g4">
                                Quality Education 
                            </label>
                            <br>
                            <label class="checkbox">
                                <input type="checkbox" name="g5">
                                Gender Equality 
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="g6">
                                Clean Water & Sanitation 
                            </label>
                            <br>
                            <label class="checkbox">
                                <input type="checkbox" name="g7">
                                Affordable & Clean Energy 
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="g8">
                                Decent Work & Economic Growth 
                            </label>
                            <br>
                            <label class="checkbox">
                                <input type="checkbox" name="g9">
                                Industry, Innovation, and Infrastructure
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="g10">
                                Reduced Inequalities 
                            </label>
                            <br>
                            <label class="checkbox">
                                <input type="checkbox" name="g11">
                                Sustainable Cities and Communities
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="g12">
                                Responsible Consumption and Production 
                            </label>
                            <br>
                            <label class="checkbox">
                                <input type="checkbox" name="g13">
                                Climate Action 
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="g14">
                                Life Below Water 
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="g15">
                                Life on Land 
                            </label>
                            <br>
                            <label class="checkbox">
                                <input type="checkbox" name="g16">
                                Peace & Justice Strong Institutions 
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="g17">
                                Partnerships for the Goals 
                            </label>
                        </div>
                      </div>
                    </div>
                  </div>
                    
                
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="member">Add Project Member</label>
                </div>
                <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" id="member" name="member" placeholder="Enter a Username">
                            {% for error in form.member.errors %}
            `               <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                      </div>
                    </div>
              </div>
            
                  <br>
                  <div class="field is-horizontal">
                      <div class="field-label">
                        <!-- Left empty for spacing -->
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                            <button type="submit" class="button is-primary">
                              Submit
                            </button>
                          </div>
                        </div>
                      </div>
                  </div>         
        </main>
        </form>
    </div>
</section>
{% endblock %}
