{% extends "base.html" %}

{% block content %}
<section class = "container">
    <br>
    <div class="columns">
        <div class="column">
            <div class="tabs is-centered is-boxed is-medium is-fullwidth">
                <ul>
                    <li><a href="{{ url_for('main.admin_view') }}">
                        <span class="icon is-small"><ion-icon name="analytics"></ion-icon></span>
                        <span>Projects</span>
                    </a></li>
                    <li class="is-active"><a href="{{ url_for('main.users_admin_view') }}">
                        <span class="icon is-small"><ion-icon name="people"></ion-icon></span>
                        <span>Users</span>
                    </a></li>
                    <li><a href="{{ url_for('main.opportunities_admin_view') }}">
                        <span class="icon is-small"><ion-icon name="aperture"></ion-icon></span>                        
                        <span>Opportunities</span>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <center>
        <div class="field has-addons">
            <div class="control">
                <input class="input is-info" type="text" placeholder="Find a user">
            </div>
            <div class="control">
                <a class="button is-info" type="submit">
                Search
                </a>
            </div>
        </div>
    </center> 
    <div>
        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                <th><abbr title="#">#</abbr></th>
                <th><abbr title="edit">Edit</abbr></th>
                <th><abbr title="Role">Role</abbr></th>
                <th><abbr title="Dept">Department</abbr></th>
                <th><abbr title="FName">FName</abbr></th>
                <th><abbr title="LName">LName</abbr></th>
                <th><abbr title="Username">Username</abbr></th>
                <th><abbr title="Email">Email</abbr></th>
                <th><abbr title="Admin">Admin</abbr></th>
                </tr>
            </thead>
            <tbody>
                {% for data in users %}
                    <tr>
                    <th>{{loop.index}}</th>
                    <th><a href="{{ url_for('main.edit_user_settings', user_id=data.username) }}"><button class="button is-link is-rounded is-outlined"> Edit</button></a></th>
                    <td>{{data.user_role}}</td>  
                    <td>{{data.department}}</td>               
                    <td>{{data.fname}}</td>
                    <td>{{data.lname}}</td>
                    <td><a href="{{ url_for('main.profile', username=data.username) }}">{{data.username}}</a></td>
                    <td>{{data.email}}</td>
                    <td>{{data.admin}}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</section>

        


{% endblock %}